/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
html, body {
	
	width: 100%;
	margin: 0; 
	padding: 0;
}

body {
	font-family: arial,sans-serif;
	background: white;
}

ul li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
}
#container {
	margin: 0 auto 0 auto;
	text-align: left;
}

header {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #2D2D2D;
}

header ul {
	display: block;
	margin-left: 5px;
	padding: 0;
	white-space: nowrap;
}

header ul li {
	cursor: pointer;
	line-height: 27px;
	position: relative;
	display: inline-block;
	margin: 1px 7px;
}

header ul li a {
	font: 13px/27px arial, sans-serif;
	font-weight: bold;
	color: #bbb;

}

header ul li a:hover {
	color: white;
}

.search-active {
	color: white;
}

#plus { 
	display: inline-block;
	position: absolute;
	top: 40px;
	right:20px;
}

#logo { 
	text-align: center;
	margin-top:150px;
	cursor: default;
}

form {
	text-align: center;
	display: block;
}

#search_input { 
	display: block;
	width: 541px;
	margin: 20px auto;
	position: relative;
}

#search_bar {
	background: white;
	border: 1px solid #D9D9D9;
	border-top: 1px solid silver;
	border-radius: 1px;
	height: 27px;	
	width: 572px;
}

#search_bar:focus {
	border: 1px solid #3366FF;
	outline: none;
}

#mic {
	width: 30px;
	cursor: default;
	position: absolute;
	top: 5px;
	right: -25px;
}

#buttons {
	cursor: default;
}

#buttons input {
	display: inline-block;
	margin: 5px 10px 0;
	background-color: whiteSmoke;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	color: #444;
	font-weight: bold;
	font-size: 11px;
	padding: 8px 5px;
}

#buttons input:hover {
	box-shadow: 0px 1px 1px #black;
}

footer {
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-top: 1px solid #EBEBEB;
}

footer ul {
	margin-right: 50px;
}

footer ul li a {
	color: #666;
	font-size: 10pt;
	padding: 5px;
}

